# mongo db named volumes and paths on the host mapped to paths in the container
mongo/node_*_data
mongo/node_*_config
mysql/data
postgresql/data
**/*secret*
**/*passwd*
**/.env*
**/secrets/*
**/data
**/rs_keyfile
